.toast-box{
	display:none;
	position:fixed;
	min-width:100px;
	max-width:400px;
	padding:20px 35px;
	border-radius:10px !important;
	font-size:11pt;
	font-family:Verdana, Arial;
	text-align:center;
	z-index:1110;
}

.toast-dark {
	background-color:rgba(51,51,51,0.9);
	color:#fff;
}

.toast-success {
	background-color: rgba(0,173,28,0.9);
	font-weight:500;
	color:#fff;
}

.toast-info {
	background-color: rgba(61,113,204,0.9);
	font-weight:500;
	color:#fff;
}

.toast-warning {
	background-color: #ffeaea;
	font-weight: 600;
	color:#333;
	font-size:12pt;
	border: solid 1px #ff8787;
}

.toast-danger {
	background-color: rgba(201,0,0,0.9);
	font-weight:500;
	color:#fff;
}

.toast-notification-1 {
	display:block;
	min-width:300px;
	padding:15px 35px;
	background-color:#fff;
	border:solid 2px #6AA0CF;
	color:#555;
}

/* Icons */
.icon {
	width: 40px;
	height:40px;
	margin-right:10px;
	margin-left:-10px;
}
.icon-warning{		
	background: no-repeat center/contain url('img/warning-2.png');
}

.toast-msg{
	display:flex;
	align-items: center;
}